@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilos generales */
* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}
body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    text-align: center;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header_menu {
    display: flex;
    gap: 80px;
}

.header_menu_link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

/* Estilos para el contenido principal*/
main {
    padding: 20px;
    position: relative;
}

/* Estilos para la imagen 
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
*/
.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
    gap: 82px;
}

.presentacion_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlaces_link {
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px dotted var(--color-terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.presentacion_enlaces_link:hover {
    background: linear-gradient(90deg, #22d5fd86, var(--color-hover));
    transform: scale(1);
    box-shadow: 0 0 15px rgba(34, 212, 253, 0.7);
    border: 2px solid #0000FF; /* Borde azul */
    cursor: pointer;
}

.presentacion_imagen {
    width: 50%;
}

.titulo-blog {
    color: var(--color-secundario);
}

a:hover {
    color: #1693a9;
}

/* Estilos para el pie de página */
footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}

@media (max-width: 1200px){
    .header {
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }

}